.is-centered{
  text-align: center;
}

.button.is-danger : active{
    background:#9b1d38;
}

.button.is-danger : focus{
    background:#9b1d38;
}

.is-main{
  background-color: hsl(0, 0%, 71%);
  padding-left: 15px;
}

.is-global{
  margin-top: 30px;
}

.is-variable{
  background-color: white;
  color: hsl(141, 71%, 48%);
  margin-bottom: 10px;
}

.is-function{
  background-color: white;
  color: #3298dc;
  padding-left: 15px;
}

.is-loop{
  background-color: white;
  color: hsl(0, 0%, 21%);
  padding-left: 15px;
}

.is-condition {
  background-color: white;
  color: purple;
  padding-left: 15px;
}

.is-op{
  background-color: white;
  color: orange;
}

.is-return{
  background-color: white;
  color: #EA2C55;
}

.is-block{
  padding: 20px;
}

.buttons{
  margin-bottom: 20px;
}

.radio-param{
  margin-right: 5px;
}
